<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MLB Matchup Predictor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='goodeye_10.jpeg') }}" alt="Logo" class="logo">
        <h1>GoodEye MLB Matchup Predictor</h1>
    </header>
    <div class="container">
        <form id="prediction-form">
            <div class="form-group">
                <label for="pitcher">Select Pitcher:</label>
                <select id="pitcher" name="pitcher" class="dropdown">
                    {% for pitcher in pitchers %}
                        <option value="{{ pitcher.player_name }}">{{ pitcher.player_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="pitcher_year">Select Pitcher Year:</label>
                <select id="pitcher_year" name="pitcher_year" class="dropdown"></select>
            </div>
            <div class="form-group">
                <label for="batter">Select Batter:</label>
                <select id="batter" name="batter" class="dropdown">
                    {% for batter in batters %}
                        <option value="{{ batter.player_name }}">{{ batter.player_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="batter_year">Select Batter Year:</label>
                <select id="batter_year" name="batter_year" class="dropdown"></select>
            </div>
            <button type="submit">Predict</button>
        </form>
        <div id="result"></div>
    </div>
    <footer>
        <img src="{{ url_for('static', filename='goodeye_13.jpeg') }}" alt="Logo" class="logo-footer">
    </footer>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>
